@charset "utf-8";

@font-face {
  font-family: Emolett;
  src: url("../fonts/emolett.woff") format("woff"),
       url("../fonts/emolett.otf") format("opentype");
}

.emolett,
.emo {
  font-family: Emolett;
}
